@import "variables.scss";
@import "mixins.scss";
* {
  box-sizing: border-box;
}
button {
  padding: 7px;
  margin-bottom: 20px;
}
.content {
  width: 100%;
  height: 500px;
  background: lightgray;
  border-radius: 5px;
}
.description {
  width: 100%;
  height: 500px;
  background: lightgray;
  border-radius: 5px;
}
footer {
  width: 100%;
  height: 40px;
  background: lightgray;
  border-radius: 5px;
  margin-top: 10px;
}
#container-for-task1 {
  @include task1;
}
#container-for-game1 {
  @include game1;
}
