<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, unde.</p>
</div>
<div class="row">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav nav nav-pills">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tasks <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="app.task1">Tasks #1</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="">Tasks #2</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="">Tasks #3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="app.game1">Games #1</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="">Games #2</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="">Games #3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="row">
    <div class="content">
        <div ui-view="tasks"></div>
    </div>
</div>